<div fxLayout="column">
  <div class="container content-div assignment-block">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="lbl-assign-file">Assign Assets to File</div>
      <div>
        <!-- <button mat-raised-button color="accent">+ Add</button> -->
        <button
          mat-raised-button
          class="margin-left"
          color="primary"
          (click)="addSelectedDataTableList()"
        >
          Done
        </button>
      </div>
    </div>

    <div class="table-container mat-elevation-z8">
      <div
        *ngIf="
          isAllSelected() &&
          !isLoading &&
          allSelectedIdList.selected.length !== length
        "
        class="message"
      >
        All {{ dataSource.data.length }} assets on this page are selected.
        <span *ngIf="!isSelectAll" class="message-button" (click)="selectAll()"
          >Select all assets</span
        >
        <span *ngIf="isSelectAll" class="message-button" (click)="clearAll()"
          >clear all assets</span
        >
      </div>

      <div class="filter-container">
        <mat-form-field fxFlex="90" appearance="outline">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)" />
        </mat-form-field>
      </div>

      <div *ngIf="isLoading" class="loader">
        <mat-progress-spinner
          color="primary"
          mode="indeterminate"
          [diameter]="50"
        >
        </mat-progress-spinner>
      </div>
      <div style="width: 100%; overflow-x: auto">
        <table *ngIf="!isLoading" mat-table [dataSource]="dataSource">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                color="primary"
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                color="primary"
                (click)="$event.stopPropagation()"
                (change)="$event ? checkBoxChangEvent(row._id) : null"
                [checked]="selection.isSelected(row._id)"
                [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Image</th>
            <td mat-cell *matCellDef="let element">
              <img [src]="element.image" class="image" />
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="company_name">
            <th mat-header-cell *matHeaderCellDef>Company Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.company_name }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef>Owner</th>
            <td mat-cell *matCellDef="let element">{{ element.owner }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSize]="pageSize"
          [length]="length"
          [pageSizeOptions]="pageSizeOptions"
          [pageIndex]="pageIndex"
          (page)="pageChanged($event)"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>

    <!-- Copyright 2018 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->
  </div>
</div>
