// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $RembergeTest-primary: mat-palette($mat-indigo);
// $RembergeTest-accent: mat-palette($mat-pink, A200, A100, A400);

$remberg-primary-palette: (
  50: #e7b400,
  100: #e7b400,
  200: #e7b400,
  300: #e7b400,
  400: #e7b400,
  500: #e7b400,
  600: #e7b400,
  700: #e7b400,
  800: #e7b400,
  900: #e7b400,
  // ... continues to 900
  contrast:
    (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: white,
      // ... continues to 900
    ),
);

$remberg-secondory-palette: (
  50: #30343f,
  100: #30343f,
  200: #30343f,
  300: #30343f,
  400: #30343f,
  500: #30343f,
  600: #30343f,
  700: #30343f,
  800: #30343f,
  900: #30343f,
  // ... continues to 900
  contrast:
    (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: white,
      // ... continues to 900
    ),
);

$RembergeTest-primary: mat-palette($remberg-primary-palette);
$RembergeTest-accent: mat-palette($remberg-secondory-palette, A200, A100, A400);

// $RembergeTest-primary: #E7B400;
// $RembergeTest-accent: #30343F;

// The warn palette is optional (defaults to red).
$RembergeTest-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$RembergeTest-theme: mat-light-theme(
  (
    color: (
      primary: $RembergeTest-primary,
      accent: $RembergeTest-accent,
      warn: $RembergeTest-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($RembergeTest-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin-right: 10%;
  margin-left: 10%;
}

.margin-left {
  margin-left: 20px;
}
